<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>level two</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}" type="text/css"/>
  </head>
  <body>
        <h1>hi welcome to l2</h1>
        <h2>here is your access_records :</h2>

        <div class="djangotwo">
          {% if access_records %}
            <table class="table">
              <thead>

                  <th>site name</th>
                  <th>date Accessed</th>

              </thead>

              {% for acc in access_records %}

              <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
              </tr>
                  {% endfor %}

            </table>
            {% else %}
            <p>No ACCESS RECORDS FOUND</p>
            {% endif %}

        </div>
  </body>
</html>
